.report-btn {
  background-color: #1a2b5e;
  color: white;
  font-size: 0.92rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
  padding: 11px 32px;
  cursor: pointer;
}

.report-btn:hover {
  background-color: #3b6fd4;
}